<div><h3>Welcome.</h3>

  <p class="lead"> Hello, and <span class="text-success">welcome</span> to <strong><span class="text-warning">GoFavorIt</span></strong>. GoFavorIt gives users the opportunity to <span class="text-info">give and take</span>. To <span class="text-info">ask and receive</span>. Ask
    the things you would not normally expect an answer to. Give to the world what it <span class="text-warning ">needs from you</span>.



  <h5>What is this?</h5>
  You can post requests for small services, such as rides to school or work, help with english tutoring, or even help with
  your garden. In return, offer services that you think would be useful to others, in areas which your skills would
  be beneficial.

  Our site will grow with you. If you have suggestions that you believe would make this a better place for
  everyone, do us a favor and let us know. We're here for you, and we hope that you will be too.
</div>
<br>
<br>
<p>  <%= User.count %> <%= link_to 'users', users_path %> registered</p>








