<head>
  <style>
      @import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

      html, body {
          height: 100%;
      }

      h1, h2, h3, h4, h5 {
          height: 100%;
          color: white;
      }

      a:link, a:visited {
          color: #eee;
      }

      section {
          min-height: 100%;
          padding-top: 13%;
      }

      .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
          background-color: transparent;
      }

  </style>


</head>
<body id="background_body" class="">
<div class="container center-block" style="color: #ffffff">
  <div class="row">
    <h1 class="text-center" style="margin-top: 70px; font-size: 100px; font-family: sans-serif">
      <span style="color: #407180">[</span>gofavorit<span style="color: #407180">]</span>
    </h1>

    <h3 class="text-center" style="margin-left: 100px; font-family: sans-serif">
      <i class="glyphicon glyphicon-gift icon-4x"></i>
      Come together.</h3>

    <%= button_to new_user_registration_path, class: "btn btn-huge btn-primary center-block", :style => "margin-top: 110px", :method => :get do %>
        <i class="glyphicon glyphicon-star-empty"></i> Register Now
    <% end %>

    <h1 class="text-center" style="margin-top: 150px; font-size: 10px; font-family: sans-serif">
      Read
      <br>
      <i class="glyphicon glyphicon-chevron-down"></i>


    </h1>
  </div>

  <div class="text-center" style="margin-top: 250px">
    <h1>What's Gofavorit?</h1>

    <p style="font-family: helvetica neue, lucida grande, sans-serif"> <strong>
      Gofavorit lets you post offers and requests for services of all kinds. This includes any favour you might want 
      done, from having someone pick up your groceries to large-scale art projects that require a few more sets of hands.
      Goavourit connects you to people who are willing and able to lend you a helping hand, all while knowing that the 
      favour will come back to them. Don’t think you can help? Wrong. Gofavourit does not rely on beefy skill sets, 
      although they can definitely help. The ideal favour for you to perform is easy for you and difficult for the 
      favour-requestee. Can’t reach to change a lightbulb? Post a request and Gofavourit users in the area will be alerted 
      to your need. To discourage fraud, users will be ranked according to a reputation system, not unlike the one that 
      makes Ebay largely scam-free. Our secure logins and community-based user rating system will keep you and your 
      favours safe.

  




  </div>

  <div class="row">
    <div class="col-lg-12" style="padding-bottom: 250px">
      <div class="col-lg-10">
        <h4>Why does it matter?</h4>
      Why just walk to the store when there’s a lightbulb along the way that needs to be changed? Gofavorit harnesses 
      the time and energy we waste and puts it to use in building a stronger community and helping those in it--including you! 
      This is not to mention that helping people is fun and rewarding on an individual level. Why go it alone when 
      there are Gofavorit users in your community who are willing to help? 
    </strong></p> </div>






      <div class="col-lg-10">
        <h2>How can I help?</h2>
        Well first of all, you can check out our Help page. If you see something that isn't quite right, or that could
        use improvement in any way, we'd love to hear it! Fill out the contact form and submit any suggestions for the
        site or Gofavorit as a whole. Each suggestion will receive a thank you email, and successful suggestions will be
        rewarded with a permanent mention on the site!


      </div>
    </div>
    <hr>

  </div>


  <div class="text-center" style="padding-bottom: 250px">
    <h1>Who are we? What is our mission?</h1>

    <p>
      We are focused on community-building. We are citizens of a society that is increasingly disconnected to
      itself despite having greater access than ever before. Research has shown that the modern citizen is less
      likely to know their neighbour, and less likely to engage with strangers on the street. Gofavorit is
      looking to change this, so that our emotional and social capacity can catch up with our technological
      capacity. </p>

  </div>

  <div class="text-center" style="margin-top: 100px">
    <h1>First Toronto, then The World
    </h1>

    <p>
      We’re in beta right now, and to keep things manageable while our team is still small,
      we’ve decided to keep the site exclusive to those in Toronto and the surrounding area.
    </p>


  </div>

  <div class="row">
    <hr style="margin-top: 250px">

    <div class="col-lg-12" style="padding-bottom: 100px">
      <div class="col-lg-7">
        <h4>When will my city have a Gofavorit page?</h4>
        We will be working primarily on our Toronto site for the next month, but if you want a Gofavorit
        page for your city, don’t hesitate to contact us! Sufficient interest in a given area will quicken the
        development of its Gofavorit page!    </div>

      <div class="col-lg-5">
        <h2>How can I help?</h2>
        Well first of all, you can check out our Help page. If you see something that isn't quite right, or that could
        use improvement in any way, we'd love to hear it! Fill out the contact form and submit any suggestions for the
        site or Gofavorit as a whole. Each suggestion will receive a thank you email, and successful suggestions will be
        rewarded with a permanent mention on the site!

        <%= button_to new_contact_path, class: "btn btn-huge btn-warning center-block", :style => "margin-top: 110px", :method => :get do %>
            <i class="glyphicon glyphicon-star-empty"></i> Contact us!
        <% end %>
      </div>
    </div>
  </div>


</div>


testing


</body>
